.weather-icon {
    width: 65px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    &.ui-01d {
        background-image: url('../img/icons/weather_icons-01.svg');
    }

    &.ui-01n {
        background-image: url('../img/icons/weather_icons-09.svg');
    }

    &.ui-02d {
        background-image: url('../img/icons/weather_icons-17.svg');
    }

    &.ui-02n {
        background-image: url('../img/icons/weather_icons-18.svg');
    }


    &.ui-03d {
        background-image: url('../img/icons/weather_icons-16.svg');
    }

    &.ui-03n {
        background-image: url('../img/icons/weather_icons-16.svg');
    }


    &.ui-04d {
        background-image: url('../img/icons/weather_icons-16.svg');
    }

    &.ui-04n {
        background-image: url('../img/icons/weather_icons-16.svg');
    }


    &.ui-09d {
        background-image: url('../img/icons/weather_icons-46.svg');
    }

    &.ui-09n {
        background-image: url('../img/icons/weather_icons-47.svg');
    }


    &.ui-10d {
        background-image: url('../img/icons/weather_icons-49.svg');
    }

    &.ui-10n {
        background-image: url('../img/icons/weather_icons-50.svg');
    }


    &.ui-11d {
        background-image: url('../img/icons/weather_icons-29.svg');
    }

    &.ui-11n {
        background-image: url('../img/icons/weather_icons-30.svg');
    }


    &.ui-13d {
        background-image: url('../img/icons/weather_icons-32.svg');
    }

    &.ui-13n {
        background-image: url('../img/icons/weather_icons-33.svg');
    }


    &.ui-50d {
        background-image: url('../img/icons/weather_icons-40.svg');
    }

    &.ui-50n {
        background-image: url('../img/icons/weather_icons-41.svg');
    }
}